body{
    margin: 0;
    padding: 0;
    background-color: black;
}

h1{
    color: gold;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 5px 5px 2px grey;
    text-decoration: underline;
}