body{
    padding: 0 ;
    margin: 0;
    background-color: black;
    color: white;
}
p{
    padding: 30px;
    border: 2px solid black;
    margin: 100px 200px 50px 200px;
}
h1{
    text-decoration: underline;
    text-align: center;
}